<!-- <div *ngIf="hero !null"> -->
    <div *ngIf="heroeSeleccionado">
        <h1>Detalles de {{ heroeSeleccionado.name | uppercase }}</h1>

        <div><span>id: </span> {{ heroeSeleccionado.id }}</div>
        <div><span>name: </span><input [(ngModel)]="heroeSeleccionado.name" type="text"></div>
        <div><span>superPower: </span> {{ heroeSeleccionado.superPower }} </div>
        <div><span>hasCape: </span> {{ heroeSeleccionado.hasCape }} </div>
        <div><span>height: </span> {{ heroeSeleccionado.height }} </div>
    </div>

<button (click)="save()">Wuardar</button>
<button (click)="goBack()">Patrás</button>
