<h2>Heroes destacados</h2>
<div>
  <ul>
      <li
          *ngFor="let heroeDeListaHeroe of heroes">
         <!-- la barra delante quiere decir que lo va a reemplazar todo -->
          <a routerLink="/detail/{{ heroeDeListaHeroe.id }}">
            <p>{{ heroeDeListaHeroe.name }}</p>
            <img width="150px" src="{{ heroeDeListaHeroe.thumbnail.path }}.{{ heroeDeListaHeroe.thumbnail.extension }}" alt="{{ heroeDeListaHeroe.name }}">
          </a>
      </li>
  </ul>
</div>
<app-hero-search></app-hero-search>
