
<h2>{{ textoHeroe }}</h2>
<div>
  <ul>
      <li
          *ngFor="let heroeDeListaHeroe of heroes "
      >
          <a routerLink="/detail/{{ heroeDeListaHeroe.id}}">
              {{ heroeDeListaHeroe.id }}: {{ heroeDeListaHeroe.name }}
          </a>
      </li>
  </ul>
  <div>
    <button (click)="less()">Back</button>
    - <button (click)="more2()">1</button>
    - {{ this.offsetMore }} / {{ this.limitMore }} -
    <button (click)="last()">1562</button> -
    <button (click)="more()">Forward</button>
  </div>
</div>



