<div>
  <label for="inputSearch">Buscar por nombre </label>
    <input

      type="text"
      id="inputSearch"
      #inputSearch
      (input)="search(inputSearch.value)"
    ><!-- Trabaja directamente con el observable, se actualiza solo. NO hace falta desubscribirlo-->
</div>

<div>
  <ul>
    <li *ngFor="let hero of heroesFound$ | async">
      <a class="search" routerLink="/detail/{{ hero.id }}">
       {{ hero.name }}
      </a>
    </li>
  </ul>
</div>

<!------------------------------------------>
<!--<div id="search-component">
  <label for="search-box">Hero Search</label>
  <input #searchBox id="search-box" (input)="searchh(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>-->
